body {
  background-color: #39311d;
}
#hero {
  background-color: #7e7474;
}
.color-3 {
  background-color: #c4b6b6;
}
.roboto-serif-name {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#hanging-icons {
  background-color: #7e7474;
}
@media (min-width: 1400px) {
  #hero img {
    transform: translate(-200px, 0);
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  #hero img {
    transform: translate(-250px, 0);
  }
}
@media (min-width: 1140px) and (max-width: 1200px) {
  #hero img {
    transform: translate(-265px, 0);
  }
  #email-address {
    font-size: small;
  }
}
@media (min-width: 992px) and (max-width: 1140px) {
  #hero > * {
    box-shadow: none !important;
  }
  #hero img {
    transform: translate(-260px, 0);
  }
  #logo {
    width: 80%;
  }
  #email-address {
    font-size: small;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #hero img {
    transform: translate(-170px, 0);
  }
  #logo {
    width: 80%;
  }
}
@media (max-width: 768px) {
  #hero img {
    transform: translate(-170px, 0);
  }
  #logo {
    width: 90%;
  }
  #email-address {
    font-size: smaller;
  }
}
